{%load static %}
<link rel="stylesheet" href="{%static "base.css"%}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{% url "inicio_list" %}">Cafes</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content%}
        {% endblock %}
    </main>

    <footer>
        <p>Cafeteria.com</p>
    </footer>
</body>
</html>